.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.portfolio_item {
  background-color: var(--color-bg-variant);
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.portfolio_item_img img {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.portfolio_item_img:hover > img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.portfolio_item h3 {
  padding: 1rem 0 0.5rem;
}
.portfolio_item p {
  font-size: 1rem;
  padding-bottom: 1rem;
}
.portfolio_item div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* =================media queries(medium devices) ============ */
@media screen and (max-width: 1024px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
/* =================media queries(small devices) ============ */
@media screen and (max-width: 600px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
